/Bin
/Library
/Temp
/Logs
/obj
/UserSettings
/HybridCLRData/HotUpdateDlls
/HybridCLRData/StrippedAOTDllsTempProj

#VS工程文件
/*.csproj
/*.sln

#VScode工程文件
/.vscode

#IDE文件
.idea/
.vs/
obj/
.vsconfig

#下载的AB文件
/TempAB
#StreamingAssets目录AB文件
#/Assets/StreamingAssets/abfiles.meta
#/Assets/StreamingAssets/abfiles

# 个人测试用文件夹，不可提交
/Assets/Test
/Assets/Test.meta

# MemroyProfiler生成的内存快照文件
/MemoryCaptures

#MessagePack文件
/Assets/Resources/Config/Bytes
/Assets/Resources/Config/Bytes.meta
/Assets/Resources/Config/SkillActionBytes
/Assets/Resources/Config/SkillActionBytes.meta

#其他
proj_client.sln.DotSettings.user

#git脚本
/merge_logs
record/
